@charset "UTF-8";
/* CSS Document */

.c_ctr{
	height: auto;
	overflow: auto;

	margin: auto;
	padding-top: 10px;
	margin-top: 4%;
	margin-bottom: 6%;

}

.c_form{
	width: 40%;
	height: 100%;
	padding-left: 8%;

	float: right;

	text-align: justify;

	border-left: 1px solid #aaaaaa;
}

.c_img{
	height: 128px;
	width: 128px;
	border-radius: 100%;

	border: solid 2px white;


	margin-bottom: 2%;
	box-shadow: 0 0 4px #828282;
}

.c_name{
	font-size: 28pt;
	color: 525252;
}

.c_subtitle{
	font-size: 18pt;
	color: #0095D5;

	text-decoration: none;
}

.c_subtitle:hover{
	color: #0065A5;
}

.c_text{
	font-size: 14pt;
	color: gray;
}

.c_ctr.social{
	padding: 0;
	height: 55px;
}

.social a{
	width: 50px;
	height: 50px;
}

.social img{
	position: relative;
	margin-top: 0;
	width: 45px;
	height: 45px;
	top: 0;
	/*Transition*/
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	-ms-transition: All 0.2s ease;
	transition: All 0.2s ease;
}

.social a:hover img{
	top: 5px;
}