@charset "UTF-8";
/* CSS Document */

.p_ctr{
	width: 96%;
	min-width: 550px;
	height: 100%;
	margin: auto;
}

.p_title_box{
	padding-top:10px;
	height: 60px;
	width: 200px;
	margin-bottom: 5%;
	margin-top: -6px;

	transform:skew(12deg,-3deg);
	-ms-transform:skew(12deg,-3deg); /* IE 9 */
	-webkit-transform:skew(12deg,-3deg); /* Safari and Chrome */

	background: -moz-linear-gradient(top,  #4cc417 0%, #119600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cc417), color-stop(100%,#119600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4cc417 0%,#119600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4cc417 0%,#119600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4cc417 0%,#119600 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4cc417 0%,#119600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc417', endColorstr='#119600',GradientType=0 ); /* IE6-9 */
	
	text-shadow: 0 1px 1px #119600;
}

.p_title{
	font-size: 28pt;
	color: white;
	width: 100%;
	font-weight: 400;

	transform:skew(-12deg,3deg);
	-ms-transform:skew(-12deg,3deg); /* IE 9 */
	-webkit-transform:skew(-12deg,3deg); /* Safari and Chrome */
}

.p_item_title{
	font-size: 18pt;
	color: #4CC417;
	text-shadow: 0 0 2px gray;
	width: 100%;
	margin-top: 35px;
}

.p_item_text{
	font-size: 12pt;
	color: white;
	text-shadow: 0 0 2px gray;
	margin-top: 5px;
}

.p_item{
	height:300px; 
	width: 220px;

	padding: 10px;
	padding-top: 20px;

	float:left;
}


.p_item:hover{
	background-color: rgba(255,255,255,0.1)
}


.img_web{
	max-width: 128px;
}

.img_bandejao{
	max-width: 128px;
}

.img_kinnav{
	max-width: 128px;
}

.p_item_popup{
	position: absolute;
	visibility: hidden;

	width: 300px;
	height: 200px;

	margin-top: 205px;
	margin-left: 2%;

	background-color: rgba(255,255,255,0.8);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.88) 0%, rgba(240,240,240,0.88) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.88)), color-stop(100%,rgba(240,240,240,0.88))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.88) 0%,rgba(240,240,240,0.88) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.88) 0%,rgba(240,240,240,0.88) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.88) 0%,rgba(240,240,240,0.88) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.88) 0%,rgba(240,240,240,0.88) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	box-shadow: 0 0 2px #777777;
}

.p_item_popup:after 
{
	content: "";
	position: absolute;
	top: -20px;
	left: 75px;
	border-style: solid;
	border-width: 0px 20px 20px;
	border-color: rgba(255,255,255,0.88) transparent;
	display: block;
	width: 0;
	z-index: 1;
}