@charset "UTF-8";
/* CSS Document */

body{
	background-image: url("/img/dark_geometric.png");
}

.feature_top{
	width: 65%;
	height: 615px;

	max-width: 1680px;
	min-width: 550px;

	margin: auto;
	margin-top: 40px;
	margin-bottom: 4%; 

	color: white;
	font-weight: 400;
	text-shadow: 0 0 1px #dddddd;

	overflow: hidden;
}

.m_btm{
	overflow: auto;
}

.feature_ctr{
	width: 65%;
	height: 100%;

	max-width: 1680px;
	min-width: 550px;

	margin: auto;
}

.b_img{
	margin-top: 0;
	max-width: 320px;
}

.b_left{
   	float: left;
}

.b_text_width_hack_because_html_is_stupid{
	max-width: -moz-calc(100% - 330px);
    max-width: -webkit-calc(100% - 330px);
    max-width: calc(100% - 330px);

    margin-top: 120px;
}

.b_right{
	overflow: hidden;
	float: right;
}

.feature h1, .feature_top h1{
	font-size: 28pt;
}

.feature p, .feature_top p{
	font-size: 18pt;
}

.btm_l1{
	margin-top: -4%;
}

.m_btm{
	margin-top: -30px;
	padding-top: 45px;
	height: auto;
}

.feature{
	width: 100%;
	height: 616px;

	color: black;
	font-weight: 400;
	text-shadow: 0 0 1px #777777;
}

.feature:first-child{
	padding-top: 30px;
}

.feature:last-child{
	height: 675px;
}

.feature:nth-child(even) {
	background: #eeeeee;
	box-shadow: 0 0 2pt #777777;
}

.badge{
	text-align: center;
	margin: auto;
	float:right;
	margin-top: 25%;
}

.ftr_l1{
	background-color: white;
	box-shadow: 0 0 2pt #777777;
}

.ftr_l2{
	background-color: rgba(255,255,255, 0.4);
}
